html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #e6ddde;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 75%;
  margin: 0 auto;
}

nav .steps {
  text-align: center;
}

nav .steps a,
nav .steps a:link {
  color: #503b3e;
}

nav .steps div:first-child {
  background: #916a70;
}

nav .steps div:first-child a {
  color: #fff;
}

nav .steps > * {
  display: inline-block;
  width: 50px;
  border: 1px solid #916a70;
  border-radius:50%;
  text-align: center;
  position: relative;
  margin-right: 35px;
  padding: 25px 8px;
}

.steps div:after {
  content:"";
  height: 5px;
  width: 40px;
  background: #916a70;
  position: absolute;
  top: 45%;
  left: 100%;
}
.steps div:last-of-type:after {
  content:"";
  display: none;
}

nav .step-ctrl {
  text-transform: uppercase;
  text-align: right;
}

nav .step-ctrl > *{
  display: inline-block;
  color: #fff;
  background: #916a70;
  border-radius: 6px;
  margin: .5em;
  padding: 1em 1.5em;
  cursor: pointer;
}

nav .step-ctrl > *:hover{
  background: #503b3e;
}

.wiz-content-wrapper {
  background: #fafafa;
  border: solid 1px #503b3e;
  border-radius: 6px;
  padding: 1%;
}

.wiz-content-wrapper h3 {
  text-align: center;
}


.wiz-content-wrapper .step-section {
  padding: 20px;
}
.wiz-content-wrapper div[id^="step"] {
}

.entryTitle {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 6px;
}


.alert {
  text-align: center;
}

.step-section {
  display: none;
}

.step-section.isActive {
  display: block;
}

.step-section.isActive.complete {
  color: gray;
}
.complete {
  position: relative;
}
.complete:after {
  content:"Submitted!";
  font-size: 40px;
  text-align: center;
  color: green;
  background: rgba(255,255,255,0.5);
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 20%;
}
